<div ng-controller="SettingsCtrl">
    <h1 >Settings</h1>

    <input type="text" ng-model="settings.title">
    {{settings.test}}

    <app-highlight></app-highlight>
    
    <div app-highlight=""></div>

    <div class="app-highlight"></div>

    
    <input type="text" ng-model="zmienna">
    <app-alert message="Wystapil blad" type="danger" on-dismiss="zmienna=1"></app-alert>
    <app-alert message="Brak wiadomosci" type="info" on-dismiss="zmienna=2"></app-alert>
    <app-alert message="Wiadomosc wyslana" type="success" on-dismiss="zmienna=3"></app-alert>
</div>