<div class="row" ng-controller="TasksCtrl">    
    <div class="input-group" ng-controller="TasksCtrl">
        <span class="input-group-text" id="basic-addon1">Filter by Name</span>
        <input type="text" class="form-control" placeholder="Filter by Name" aria-describedby="basic-addon1" ng-change="filter()"  ng-model="filterName">
    </div>
    <div class="list-group ms-3">
        <div class="list-group-item d-flex justify-content-between " ng-click="selectTask(item.id)" 
        ng-class="{
            'active' : task.id === item.id,
            'text-decoration-line-through' : item.completed === true
        }" 
        ng-repeat="item in filteredTasks track by item.id">{{$index+1}}.{{item.name}}<button class="btn-close" ng-click="remove(item.id)"></button></div>
  
    </div>
    <ul class="list-group ms-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Completed Tasks
            <span class="badge bg-primary rounded-pill">{{completed}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Uncompleted Tasks
            <span class="badge bg-primary rounded-pill">{{uncompleted}}</span>
        </li>
    </ul>
    
    <div class="col">
        
    </div>
    <dl>
        <dt>Name:</dt>
        <dd>{{task.name}}</dd>
        <dt>Completed:</dd>
            <dd>{{task.completed?"yes":"no"}}</dd>
            <button class="btn btn-info" ng-click="edit()">Edit</button>      
            <button class="btn btn-info" ng-click="cancel()">Cancel</button>
            <button class="btn btn-warning" ng-click="add()">Add</button>
            <form ng-show="mode === 'edit' || mode === 'add'" ng-keypress="enterPress($event)">
                <!-- .form-group>label{Name}+input.form-control -->
                <div class="form-group mb-3"><label for="task_name">Name</label>
                    <input id="task_name" type="text" class="form-control" ng-model="taskTmp.name" >
                </div>
                <div class="form-group mb-3"><label for="task_completed">
                    <input id="task_completed" type="checkbox" ng-model="taskTmp.completed">
                    Completed</label>
                </div>
                <!-- <button class="btn btn-info" ng-click="save()"ng-show="mode === 'edit'"ng-hide="mode === 'hide'||mode === 'add'">Save</button> -->
                <!-- <button class="btn btn-info" ng-click="addTask()"ng-show="mode === 'add'"ng-hide="mode === 'hide'||mode ==='edit'">Save</button> -->
            </form>
        </dl>
    </div>
    <div class="col"></div>
</div>