<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css" />
  <link rel="stylesheet" href="./src/style.css" />
  <script src="./node_modules/angular/angular.js" defer></script>
  <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js" defer></script>
  <script src="./src/tasks/tasks.js" defer></script>
  <script src="src/users/userService.js" defer></script>
  <script src="src/users/users.js" defer></script>
  <script src="src/settings/settings.js" defer></script>
  <script src="./src/index.js" defer></script>
</head>

<body ng-controller="AppCtrl">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" ng-repeat="page in pages">
              <a class="nav-link" ui-sref="{{page.name}}">{{page.label}}</a>
            </li>
          </ul>
          <div class="ms-auto navbar-text">
            <span>Welcome {{ user.name }}, Login </span>
          </div>
        </div>
      </div>
    </nav>
    <a ui-sref="tasks" ui-sref-active="active">Hello</a>
    <a ui-sref="users" ui-sref-active="active">About</a>
    <a ui-sref="settings" ui-sref-active="active">About</a>
    <ui-view></ui-view>
  </div>
</body>

</html>